# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
myenv/
.env
*.sqlite3
*.db

# Flask
instance/
*.log
*.pot
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.so

# React
node_modules/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables file
.env
